    <%- include('header') %>
    
        
    
        <h2>Editar categoria:
            <a href='/admin/categorias/'>Categorias</a>
        
        </h2>
        <div>
        <form method='POST'>
            <label>Categoria:</label>
            <input type='text' name='categoria' value= '<%= categoria.categoria %>' >
            <br>
            <button>Salvar vaga</button>
        </form>

        </div>

    <%- include('footer') %>